.label {
    font-size: 1.6rem;
    margin: 10px 0;
    display: block;
    text-align: center;
    font-weight: bold;
}

.input {
    margin-bottom: 28px;
    border: none;
    background-color: #CCC;
    border-radius: 12px;
    padding: 12px 16px;
    width: 120px;
    font-family: "Quicksand", sans-serif;
}

.input:focus {
    outline: 2px solid #1d4ed8;
}